 #  Data Collection and Preparation
 ---
* Data is collected from APIs by using Python.  

* Data is cleaned and prepared for the analysis by using Python and Pandas libraries.

In [22]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
#from MCForecastTools import MCSimulation
import hvplot.pandas
%matplotlib inline

In [23]:
# LOAD ENV FILE
load_dotenv(r"C:\Users\juddm\OneDrive\Desktop\School\example.env")

True

In [24]:
# Setup Alpaca API environment
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

## 50 stocks from First Trust NASDAQ® Clean Edge® Green Energy Index
Read the daily prices and clean the data.

In [25]:
# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 3 year, between now and 365 days ago.
start_date = pd.Timestamp("2022-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-10-06", tz="America/New_York").isoformat()
#my subscription does not allow pulling data from the last 15min with end_date = pd.Timestamp.now().date() 

# Set the stock tickers
tickers_1 = ["TSLA", "RIVN", "ON", "LCID", "OLED", "ALGM", "POWI", "WOLF", "ENS", "AEIS", "BE", "VICR", "HASI", "NVTS", "GGR", "LICY"]

# Get 1 year's worth of historical data for all stocks
# HINT: Set "limit" to at least 10000 so all ticker rows are captured from get_bars()
df_Manufacturing_other = api.get_bars(
    tickers_1,
    timeframe,
    start=start_date,
    end=end_date, limit = 10000
).df

# Display sample data
df_Manufacturing_other.sample(10)

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2022-12-23 05:00:00+00:00,72.27,73.390,70.2500,19394,72.740,1230734,71.876890,WOLF
2022-06-17 04:00:00+00:00,26.24,27.170,25.5900,135793,26.545,24253864,26.269577,RIVN
2022-03-16 04:00:00+00:00,23.62,23.895,22.1300,187957,22.130,31284580,23.311637,LCID
2023-10-06 04:00:00+00:00,6.43,6.455,6.1700,10132,6.210,1357788,6.359225,NVTS
2022-06-03 04:00:00+00:00,25.08,25.490,24.6500,12391,25.140,623320,25.014153,ALGM
2022-09-07 04:00:00+00:00,39.46,39.730,37.9346,7419,38.000,709446,39.070634,HASI
2022-09-14 04:00:00+00:00,67.78,68.090,66.5450,13613,67.370,530154,67.603979,POWI
2023-02-27 05:00:00+00:00,72.50,73.550,71.8700,21383,73.000,1231126,72.761777,WOLF
2022-06-01 04:00:00+00:00,740.37,771.980,730.9200,663700,755.160,26162027,747.008891,TSLA
2023-09-29 04:00:00+00:00,250.22,254.770,246.3500,1255461,250.000,128526716,251.035387,TSLA

In [27]:
# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 3 year, between now and 365 days ago.
start_date = pd.Timestamp("2022-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-10-06", tz="America/New_York").isoformat()

# Set the stock tickers
tickers_2 = ["FSLR", "ENPH", "SEDG", "BEP", "ARRY", "ORA", "PLUG", "SHLS", "ITRI", "RUN", "NXT", "NEP", "AY", "CWEN", "RNW", "AMRC", "NOVA", "SPWR", "CLNE", "AMPS", "STEM", "FCEL", "MAXN" ]

# Get 1 year's worth of historical data for all stocks
# HINT: Set "limit" to at least 10000 so all ticker rows are captured from get_bars()
df_Renewable = api.get_bars(
    tickers_2,
    timeframe,
    start=start_date,
    end=end_date, limit = 10000
).df

# Display sample data
df_Renewable.sample(10)

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2023-07-17 04:00:00+00:00,6.50,6.720,5.94,20890,6.09,2930227,6.517292,AMPS
2022-11-18 05:00:00+00:00,15.84,16.740,15.47,86809,16.57,15097349,15.833160,PLUG
2023-08-15 04:00:00+00:00,46.42,47.270,46.27,15409,46.66,1297035,46.637276,NEP
2023-06-13 04:00:00+00:00,10.91,11.110,10.48,210393,10.73,46211510,10.852403,PLUG
2023-01-13 05:00:00+00:00,315.02,316.789,303.01,18788,303.01,706655,312.520625,SEDG
2022-07-05 04:00:00+00:00,76.48,79.780,75.25,18785,79.16,1332228,76.721053,ORA
2022-04-06 04:00:00+00:00,7.77,8.130,7.60,25456,8.05,3410550,7.773613,CLNE
2023-01-04 05:00:00+00:00,17.64,17.750,15.87,8850,16.20,816653,17.095537,MAXN
2022-03-28 04:00:00+00:00,14.37,14.410,12.97,8809,13.00,721037,13.846649,MAXN
2023-06-16 04:00:00+00:00,23.95,24.240,23.70,10704,24.15,1899767,23.940544,AY

In [28]:
# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 3 year, between now and 365 days ago.
start_date = pd.Timestamp("2022-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-10-06", tz="America/New_York").isoformat()

# Set the stock tickers
tickers_3 = ["ALB", "AYI", "LTHM", "MP", "SQM", "FLNC", "CHPT", "MNTK", "BLDP", "LNZA", "ALLG"]

# Get 1 year's worth of historical data for all stocks
# HINT: Set "limit" to at least 10000 so all ticker rows are captured from get_bars()
df_Resources = api.get_bars(
    tickers_3,
    timeframe,
    start=start_date,
    end=end_date, limit = 10000
).df

# Display sample data
df_Resources.sample(10)

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2023-05-19 04:00:00+00:00,3.34,3.490,3.3400,503,3.48,38839,3.403481,LNZA
2023-08-21 04:00:00+00:00,20.57,20.770,20.1600,29939,20.60,2993934,20.451691,MP
2022-09-19 04:00:00+00:00,18.58,18.960,17.7600,10823,18.00,861236,18.456890,FLNC
2023-03-30 04:00:00+00:00,81.40,85.025,80.3100,25526,84.62,1754354,81.544571,SQM
2022-09-29 04:00:00+00:00,14.93,15.860,14.3800,58687,15.51,8576703,14.889449,CHPT
2022-02-10 05:00:00+00:00,13.92,14.880,13.4115,85279,13.55,14466804,14.269438,CHPT
2023-08-18 04:00:00+00:00,158.06,159.550,157.0700,6987,158.44,207495,158.091904,AYI
2022-05-25 04:00:00+00:00,8.34,8.510,8.0400,959,8.14,115991,8.311037,ALLG
2022-01-20 05:00:00+00:00,200.08,207.900,200.0500,7278,205.01,362363,204.788903,AYI
2023-09-28 04:00:00+00:00,5.30,5.750,5.2400,5329,5.56,1970488,5.311387,LNZA

In [29]:
# Using the df_ticker DataFrame, create a DataFrame consisting of timestamp, close and symbol columns

df_Manufacturing_other = df_Manufacturing_other [ ["close", "symbol"]]

df_Renewable = df_Renewable [  ["close", "symbol"]]

df_Resources = df_Resources [ ["close", "symbol"]]
# View the DataFrame
df_Manufacturing_other.sample(10)

                            close symbol
timestamp
2023-01-20 05:00:00+00:00    7.82   LCID
2022-07-19 04:00:00+00:00   58.78     ON
2023-05-30 04:00:00+00:00   49.83   WOLF
2022-12-19 05:00:00+00:00   52.46   VICR
2023-05-10 04:00:00+00:00   80.96   POWI
2022-05-06 04:00:00+00:00   25.29   ALGM
2023-05-30 04:00:00+00:00   83.97     ON
2023-04-14 04:00:00+00:00  185.00   TSLA
2023-07-17 04:00:00+00:00  290.38   TSLA
2023-07-24 04:00:00+00:00  108.32    ENS

In [30]:
# Adjust resources dataframe so tickers serve as column titles
ALB = df_Resources[df_Resources["symbol"]=="ALB"].drop("symbol", axis=1)
AYI = df_Resources[df_Resources["symbol"]=="AYI"].drop("symbol", axis=1)
LTHM = df_Resources[df_Resources["symbol"]=="LTHM"].drop("symbol", axis=1)
MP = df_Resources[df_Resources["symbol"]=="MP"].drop("symbol", axis=1)
SQM = df_Resources[df_Resources["symbol"]=="SQM"].drop("symbol", axis=1)
FLNC = df_Resources[df_Resources["symbol"]=="FLNC"].drop("symbol", axis=1)
CHPT = df_Resources[df_Resources["symbol"]=="CHPT"].drop("symbol", axis=1)
MNTK = df_Resources[df_Resources["symbol"]=="MNTK"].drop("symbol", axis=1)
BLDP = df_Resources[df_Resources["symbol"]=="BLDP"].drop("symbol", axis=1)
LNZA = df_Resources[df_Resources["symbol"]=="LNZA"].drop("symbol", axis=1)
ALLG = df_Resources[df_Resources["symbol"]=="ALLG"].drop("symbol", axis=1)

# Concatenate the ticker DataFrames
df_Resources = pd.concat([ALB, AYI, LTHM, MP, SQM, FLNC, CHPT, MNTK, BLDP, LNZA, ALLG], axis=1, keys=["ALB", "AYI", "LTHM", "MP", "SQM", "FLNC", "CHPT", "MNTK", "BLDP", "LNZA", "ALLG"])

# Display sample data
df_Resources

,ALB,AYI,LTHM,MP,SQM,FLNC,CHPT,MNTK,BLDP,LNZA,ALLG
,close,close,close,close,close,close,close,close,close,close,close
timestamp,,,,,,,,,,,
2022-01-03 05:00:00+00:00,236.67,213.09,25.52,47.65,50.73,34.87,19.87,10.16,12.63,9.66,9.92
2022-01-04 05:00:00+00:00,242.58,216.70,26.43,50.40,49.10,34.85,19.52,10.42,12.57,9.66,9.92
2022-01-05 05:00:00+00:00,235.64,213.06,24.20,45.51,47.66,30.23,18.16,10.28,12.01,9.66,9.90
2022-01-06 05:00:00+00:00,233.38,210.69,23.73,45.31,49.06,28.06,17.35,9.96,11.89,9.69,9.89
2022-01-07 05:00:00+00:00,236.02,214.63,23.80,45.52,49.96,27.40,16.89,9.90,11.65,9.69,9.89
...,...,...,...,...,...,...,...,...,...,...,...
2023-10-02 04:00:00+00:00,162.41,167.17,17.44,18.53,56.24,22.38,4.75,9.17,3.43,4.16,2.39
2023-10-03 04:00:00+00:00,156.77,167.38,16.82,17.60,54.56,20.42,4.38,9.33,3.40,3.92,2.55
2023-10-04 04:00:00+00:00,158.40,179.00,17.38,17.36,55.04,21.10,4.40,9.50,3.52,3.82,2.19
2023-10-05 04:00:00+00:00,155.03,179.00,16.88,16.83,53.07,20.62,4.16,9.53,3.41,3.83,2.14
2023-10-06 04:00:00+00:00,159.84,181.66,17.03,16.78,54.48,20.78,4.31,9.55,3.59,3.81,2.16

In [31]:
# Adjust manufacturing dataframe so tickers serve as column titles
TSLA = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="TSLA"].drop("symbol", axis=1)
RIVN = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="RIVN"].drop("symbol", axis=1)
ON = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="ON"].drop("symbol", axis=1)
LCID = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="LCID"].drop("symbol", axis=1)
OLED = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="OLED"].drop("symbol", axis=1)
ALGM = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="ALGM"].drop("symbol", axis=1)
POWI = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="POWI"].drop("symbol", axis=1)
WOLF = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="WOLF"].drop("symbol", axis=1)
ENS = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="ENS"].drop("symbol", axis=1)
AEIS = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="AEIS"].drop("symbol", axis=1)
BE = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="BE"].drop("symbol", axis=1)
VICR = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="VICR"].drop("symbol", axis=1)
HASI = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="HASI"].drop("symbol", axis=1)
NVTS = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="NVTS"].drop("symbol", axis=1)
GGR = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="GGR"].drop("symbol", axis=1)
LICY = df_Manufacturing_other[df_Manufacturing_other["symbol"]=="LICY"].drop("symbol", axis=1)

["TSLA", "RIVN", "ON", "LCID", "OLED", "ALGM", "POWI", "WOLF", "ENS", "AEIS", "BE", "VICR", "HASI", "NVTS", "GGR", "LICY"]

# Concatenate the ticker DataFrames
df_Manufacturing_other = pd.concat([TSLA, RIVN, ON, LCID, OLED, ALGM, POWI, WOLF, ENS, AEIS, BE, VICR, HASI, NVTS, GGR, LICY], axis=1, keys=["TSLA", "RIVN", "ON", "LCID", "OLED", "ALGM", "POWI", "WOLF", "ENS", "AEIS", "BE", "VICR", "HASI", "NVTS", "GGR", "LICY"])

# Display sample data
df_Manufacturing_other

,TSLA,RIVN,ON,LCID,OLED,ALGM,POWI,WOLF,ENS,AEIS,BE,VICR,HASI,NVTS,GGR,LICY
,close,close,close,close,close,close,close,close,close,close,close,close,close,close,close,close
timestamp,,,,,,,,,,,,,,,,
2022-01-03 05:00:00+00:00,1199.78,102.72,70.17,40.93,171.41,36.41,92.54,121.14,81.10,92.82,22.14,123.98,54.06,16.26,9.93,10.07
2022-01-04 05:00:00+00:00,1149.59,101.39,70.95,39.41,175.26,35.28,91.53,121.70,82.21,92.90,21.55,126.18,53.64,15.61,9.88,9.99
2022-01-05 05:00:00+00:00,1088.12,90.01,67.42,36.68,166.11,33.21,86.63,114.46,79.72,89.42,20.21,123.14,49.86,14.45,9.93,9.12
2022-01-06 05:00:00+00:00,1064.70,87.33,67.25,38.22,164.74,32.97,87.75,113.05,79.13,91.80,19.47,120.00,49.42,13.50,9.94,8.80
2022-01-07 05:00:00+00:00,1026.96,86.28,64.56,41.98,158.85,32.17,85.11,108.97,78.85,89.57,19.25,115.94,49.00,13.13,9.90,9.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-02 04:00:00+00:00,251.60,23.66,93.37,5.54,156.05,31.89,76.76,37.98,93.67,102.23,12.19,58.18,19.68,6.95,2.61,3.41
2023-10-03 04:00:00+00:00,246.53,21.69,89.76,5.38,153.86,29.98,75.49,33.82,93.33,98.95,11.54,56.33,16.50,6.68,2.57,3.23
2023-10-04 04:00:00+00:00,261.16,23.69,89.99,5.56,156.15,30.92,75.79,34.77,93.11,99.18,11.38,56.97,15.42,6.73,2.50,3.12
2023-10-05 04:00:00+00:00,260.05,18.27,88.17,5.16,155.68,30.37,75.10,32.80,92.63,97.68,10.74,56.62,14.36,6.32,2.57,2.95
2023-10-06 04:00:00+00:00,260.53,18.92,90.93,5.13,158.78,30.92,75.99,33.15,94.01,98.82,11.13,56.60,14.42,6.43,2.52,3.12

In [32]:
# Adjust Renewable and other dataframe so tickers serve as column titles
FSLR = df_Renewable[df_Renewable["symbol"]=="FSLR"].drop("symbol", axis=1)
ENPH = df_Renewable[df_Renewable["symbol"]=="ENPH"].drop("symbol", axis=1)
SEDG = df_Renewable[df_Renewable["symbol"]=="SEDG"].drop("symbol", axis=1)
BEP = df_Renewable[df_Renewable["symbol"]=="BEP"].drop("symbol", axis=1)
ARRY = df_Renewable[df_Renewable["symbol"]=="ARRY"].drop("symbol", axis=1)
ORA = df_Renewable[df_Renewable["symbol"]=="ORA"].drop("symbol", axis=1)
PLUG = df_Renewable[df_Renewable["symbol"]=="PLUG"].drop("symbol", axis=1)
SHLS = df_Renewable[df_Renewable["symbol"]=="SHLS"].drop("symbol", axis=1)
ITRI = df_Renewable[df_Renewable["symbol"]=="ITRI"].drop("symbol", axis=1)
RUN = df_Renewable[df_Renewable["symbol"]=="RUN"].drop("symbol", axis=1)
NXT = df_Renewable[df_Renewable["symbol"]=="NXT"].drop("symbol", axis=1)
NEP = df_Renewable[df_Renewable["symbol"]=="NEP"].drop("symbol", axis=1)
AY = df_Renewable[df_Renewable["symbol"]=="AY"].drop("symbol", axis=1)
CWEN = df_Renewable[df_Renewable["symbol"]=="CWEN"].drop("symbol", axis=1)
RNW = df_Renewable[df_Renewable["symbol"]=="RNW"].drop("symbol", axis=1)
AMRC = df_Renewable[df_Renewable["symbol"]=="AMRC"].drop("symbol", axis=1)
NOVA = df_Renewable[df_Renewable["symbol"]=="NOVA"].drop("symbol", axis=1)
SPWR = df_Renewable[df_Renewable["symbol"]=="SPWR"].drop("symbol", axis=1)
CLNE = df_Renewable[df_Renewable["symbol"]=="CLNE"].drop("symbol", axis=1)
AMPS = df_Renewable[df_Renewable["symbol"]=="AMPS"].drop("symbol", axis=1)
STEM = df_Renewable[df_Renewable["symbol"]=="STEM"].drop("symbol", axis=1)
FCEL = df_Renewable[df_Renewable["symbol"]=="FCEL"].drop("symbol", axis=1)
MAXN = df_Renewable[df_Renewable["symbol"]=="MAXN"].drop("symbol", axis=1)

# Concatenate the ticker DataFrames
df_Renewable = pd.concat([FSLR, ENPH, SEDG, BEP, ARRY, ORA, PLUG, SHLS, ITRI, RUN, NXT, NEP, AY, CWEN, RNW, AMRC, NOVA, SPWR, CLNE, AMPS, STEM, FCEL, MAXN], axis=1, keys=["FSLR", "ENPH", "SEDG", "BEP", "ARRY", "ORA", "PLUG", "SHLS", "ITRI", "RUN", "NXT", "NEP", "AY", "CWEN", "RNW", "AMRC", "NOVA", "SPWR", "CLNE", "AMPS", "STEM", "FCEL", "MAXN"])

# Display sample data
df_Renewable

,FSLR,ENPH,SEDG,BEP,ARRY,ORA,PLUG,SHLS,ITRI,RUN,...,CWEN,RNW,AMRC,NOVA,SPWR,CLNE,AMPS,STEM,FCEL,MAXN
,close,close,close,close,close,close,close,close,close,close,...,close,close,close,close,close,close,close,close,close,close
timestamp,,,,,,,,,,,,,,,,,,,,,
2022-01-03 05:00:00+00:00,88.58,184.45,282.45,35.85,15.910,78.55,28.790,23.84,68.92,35.47,...,35.96,7.56,82.11,28.75,21.550,6.54,10.50,19.24,5.78,14.83
2022-01-04 05:00:00+00:00,87.28,178.28,273.10,35.21,14.970,78.83,28.150,22.55,68.95,34.57,...,35.39,7.46,79.60,26.70,21.530,6.63,10.53,18.77,5.88,14.57
2022-01-05 05:00:00+00:00,83.51,157.20,249.81,34.05,13.920,76.82,26.270,21.32,66.95,31.42,...,33.97,7.36,70.55,23.90,19.780,6.07,9.89,16.76,5.32,13.11
2022-01-06 05:00:00+00:00,83.97,151.49,248.24,33.42,13.840,76.69,25.220,21.12,65.81,31.48,...,34.16,7.33,70.96,23.82,19.150,6.19,9.94,16.11,5.14,12.81
2022-01-07 05:00:00+00:00,84.68,145.13,248.91,34.12,14.120,75.99,24.960,21.87,64.78,31.72,...,33.86,6.99,67.99,23.99,19.380,6.20,9.53,15.83,5.10,12.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-02 04:00:00+00:00,156.34,116.84,122.56,20.44,21.360,68.18,6.825,17.14,58.80,11.24,...,19.75,5.06,35.41,9.68,5.620,3.59,4.80,3.86,1.20,10.73
2023-10-03 04:00:00+00:00,151.25,114.22,120.31,20.33,19.545,67.26,6.530,16.47,58.37,10.66,...,19.26,4.92,33.82,9.41,5.475,3.73,4.52,3.69,1.19,10.40
2023-10-04 04:00:00+00:00,151.82,117.18,125.31,20.87,20.330,68.72,6.530,16.62,58.46,10.54,...,19.27,4.93,35.23,9.62,5.470,3.51,4.43,3.73,1.24,10.14
2023-10-05 04:00:00+00:00,145.35,116.01,120.62,21.17,18.830,66.06,6.400,15.10,57.81,10.01,...,18.76,4.82,33.09,8.81,5.450,3.57,4.37,3.71,1.22,9.89
2023-10-06 04:00:00+00:00,148.56,119.16,123.97,21.31,19.750,67.63,6.610,15.15,58.79,10.45,...,20.79,5.26,33.19,9.13,5.460,3.73,4.64,3.94,1.25,9.99

## First Trust NASDAQ® Clean Edge® Green Energy Index and S&P 500 ETF
Read the daily prices and clean the data.

In [33]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
#from MCForecastTools import MCSimulation

%matplotlib inline

In [34]:
# LOAD ENV FILE
load_dotenv(r"C:\Users\juddm\OneDrive\Desktop\School\example.env")

True

In [50]:
# Setup Alpaca API environment
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [51]:
# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp("2022-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-10-06", tz="America/New_York").isoformat()

# Set the stock tickers
tickers = ["QQQ", "QCLN"]

# Get 3 year's worth of historical data for all stocks
index_df = api.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date, limit = 10000
).df

# Display sample data
index_df.head(50)

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2022-01-03 05:00:00+00:00,70.08,70.1778,68.3450,3362,69.4990,370745,69.467691,QCLN
2022-01-04 05:00:00+00:00,69.04,70.5500,67.5900,4818,70.5000,313729,68.800015,QCLN
2022-01-05 05:00:00+00:00,65.21,68.9082,65.1000,3885,68.6600,651563,67.140158,QCLN
2022-01-06 05:00:00+00:00,64.41,65.6200,62.7800,4927,65.0100,400356,64.491088,QCLN
2022-01-07 05:00:00+00:00,63.59,65.7487,63.2000,3212,64.4900,352695,64.116202,QCLN
2022-01-10 05:00:00+00:00,63.03,63.0800,60.6600,5873,62.4500,628330,61.839328,QCLN
2022-01-11 05:00:00+00:00,64.51,64.7500,62.7700,3604,63.0300,368425,64.037794,QCLN
2022-01-12 05:00:00+00:00,65.29,66.3700,64.4820,5423,65.5500,550870,65.394180,QCLN
2022-01-13 05:00:00+00:00,63.26,66.4600,63.1100,3524,65.8600,293067,64.605928,QCLN
2022-01-14 05:00:00+00:00,63.54,63.9100,62.1100,3906,62.5300,431669,62.982003,QCLN
2022-01-18 05:00:00+00:00,61.14,63.1300,61.0500,4435,62.2300,469023,61.775564,QCLN
2022-01-19 05:00:00+00:00,59.33,61.8100,59.2800,6219,61.3300,695162,60.190342,QCLN
2022-01-20 05:00:00+00:00,58.61,61.8783,58.5400,4883,60.0500,519293,60.481617,QCLN
2022-01-21 05:00:00+00:00,56.19,58.4630,56.0300,8298,57.9500,834836,57.206281,QCLN
2022-01-24 05:00:00+00:00,56.18,56.3016,51.7100,10832,53.9400,912041,53.618712,QCLN
2022-01-25 05:00:00+00:00,54.35,55.6600,53.6700,10883,54.6500,834575,54.536271,QCLN
2022-01-26 05:00:00+00:00,54.30,57.1500,53.6000,4620,56.1000,401667,55.696303,QCLN
2022-01-27 05:00:00+00:00,51.80,55.2900,51.6500,6780,55.0700,489014,52.823803,QCLN
2022-01-28 05:00:00+00:00,52.39,52.3900,49.8300,5427,51.7728,553294,51.193937,QCLN
2022-01-31 05:00:00+00:00,57.11,57.1500,52.7500,5306,52.7500,693378,56.138070,QCLN
2022-02-01 05:00:00+00:00,57.78,58.0000,56.1100,4232,57.8700,494576,57.416946,QCLN
2022-02-02 05:00:00+00:00,56.66,58.2200,55.9400,4359,58.2200,458583,56.865250,QCLN
2022-02-03 05:00:00+00:00,54.20,56.1441,54.0800,4912,55.0100,465244,54.910944,QCLN
2022-02-04 05:00:00+00:00,55.74,56.2300,53.8600,3331,54.3668,443564,55.344434,QCLN
2022-02-07 05:00:00+00:00,56.05,57.2684,55.5300,3364,55.9200,248233,56.308580,QCLN
2022-02-08 05:00:00+00:00,57.46,57.5601,55.5600,2775,55.9000,245334,56.984487,QCLN
2022-02-09 05:00:00+00:00,60.07,60.0700,58.7400,4484,59.6100,385595,59.678976,QCLN
2022-02-10 05:00:00+00:00,58.43,60.8700,58.0900,4260,58.6400,310668,59.345953,QCLN
2022-02-11 05:00:00+00:00,56.35,59.0100,55.7800,3161,58.5300,290693,57.531506,QCLN
2022-02-14 05:00:00+00:00,56.22,57.6300,55.5516,3951,55.9800,308097,56.495921,QCLN
2022-02-15 05:00:00+00:00,59.79,59.8401,57.3600,3092,57.3600,310529,58.990419,QCLN
2022-02-16 05:00:00+00:00,60.03,60.2100,58.3600,4332,58.9400,343171,59.556050,QCLN
2022-02-17 05:00:00+00:00,56.83,58.8300,56.8300,2948,58.4841,270696,57.391857,QCLN
2022-02-18 05:00:00+00:00,55.49,57.2200,54.8600,4138,56.9800,362972,55.665531,QCLN
2022-02-22 05:00:00+00:00,53.56,55.6700,52.9610,5023,54.3400,464018,54.462585,QCLN
2022-02-23 05:00:00+00:00,52.16,54.9300,52.0000,4087,54.5000,315747,52.769202,QCLN
2022-02-24 05:00:00+00:00,56.00,56.0399,49.1310,4865,49.2000,447103,52.780570,QCLN
2022-02-25 05:00:00+00:00,56.95,56.9500,54.4700,2917,55.8300,215829,56.091052,QCLN
2022-02-28 05:00:00+00:00,59.72,60.1796,57.3800,5542,57.3800,608767,59.228944,QCLN
2022-03-01 05:00:00+00:00,58.86,59.9400,58.0800,5077,59.5700,370766,58.883760,QCLN
2022-03-02 05:00:00+00:00,59.00,59.1800,57.4400,3010,58.8600,205167,58.428541,QCLN
2022-03-03 05:00:00+00:00,57.30,59.3600,56.9809,2700,59.3600,225737,57.969137,QCLN
2022-03-04 05:00:00+00:00,56.07,57.7300,55.3300,3096,56.9900,255907,56.183062,QCLN
2022-03-07 05:00:00+00:00,55.55,57.5700,55.4700,4625,56.6600,345204,56.307997,QCLN
2022-03-08 05:00:00+00:00,58.49,59.8350,55.4900,7420,55.8800,439526,58.012669,QCLN
2022-03-09 05:00:00+00:00,60.29,60.4800,58.6000,3578,59.4900,364993,59.968146,QCLN
2022-03-10 05:00:00+00:00,59.15,59.4500,57.6400,3813,59.1600,232655,58.611288,QCLN
2022-03-11 05:00:00+00:00,57.22,60.0200,57.1500,2628,59.6200,216689,57.955021,QCLN
2022-03-14 04:00:00+00:00,53.68,56.6100,53.4204,5097,56.5500,511955,54.555900,QCLN
2022-03-15 04:00:00+00:00,55.91,55.9100,52.6200,3153,53.6500,295309,54.527288,QCLN

In [52]:
# Choose relevant columns
index_df = index_df [
    ["close", "symbol"]
]
index_df

                            close symbol
timestamp
2022-01-03 05:00:00+00:00   70.08   QCLN
2022-01-04 05:00:00+00:00   69.04   QCLN
2022-01-05 05:00:00+00:00   65.21   QCLN
2022-01-06 05:00:00+00:00   64.41   QCLN
2022-01-07 05:00:00+00:00   63.59   QCLN
...                           ...    ...
2023-10-02 04:00:00+00:00  361.26    QQQ
2023-10-03 04:00:00+00:00  354.92    QQQ
2023-10-04 04:00:00+00:00  359.75    QQQ
2023-10-05 04:00:00+00:00  358.69    QQQ
2023-10-06 04:00:00+00:00  364.70    QQQ

[886 rows x 2 columns]

In [53]:
# Reorganize the DataFrame
# Separate ticker data
QQQ = index_df[index_df["symbol"]=="QQQ"].drop("symbol", axis=1)
QCLN = index_df[index_df["symbol"]=="QCLN"].drop("symbol", axis=1)

# Concatenate the ticker DataFrames
index_df = pd.concat([QQQ, QCLN], axis=1, keys=["QQQ","QCLN"])

# Display sample data
index_df.head()

                              QQQ   QCLN
                            close  close
timestamp
2022-01-03 05:00:00+00:00  401.68  70.08
2022-01-04 05:00:00+00:00  396.47  69.04
2022-01-05 05:00:00+00:00  384.29  65.21
2022-01-06 05:00:00+00:00  384.02  64.41
2022-01-07 05:00:00+00:00  379.86  63.59

## Combine the three portfolios?

In [20]:
# Join 3 datasets into a single DataFrame with columns for each portfolio's returns.